*
{
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    
}


body{
     background-color: rgb(243, 234, 226);
    color: #212121;
   font-size: 28px;

}


header nav{
   background-color:#212121 ;
   padding: 40px;
   display: flex;
   color: rgb(244, 241, 238);
   justify-content: space-between;
   align-items: center;

   width: 100%;
    height: 300px;
    background-image: url('background\ img.jpg');
    background-size: cover;
    background-position: center;


}



header nav h1{
   font-size: 50px;
   font-weight: 950;
   letter-spacing: 1px;
   
}


header nav form{
   display: flex;
   justify-content: center;
}


form input[type="text"]{
    flex-grow: 1;
    margin-right: 10px;
    width: 250px;



 }
form input[type="text"],button[type="submit"]
{
    border: none;
    font-size: 15px;
    padding: 15px;
    border-radius: 8px;
    
 }
 form button[type="submit"]{
    background-color:rgb(184, 51, 51) ;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
 }
 form button[type="submit"]:hover{
    background-color: rgb(119, 30, 30);
 }

 /* Main Part */
 .recipe-container{
    text-align: center;
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 40px;
    width: 80%;
    margin:10px auto;
    padding: 20px;
    place-items: center;

 }
 .recipe{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    color: black;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgb(124, 124, 124),-5px -5px 10px rgb(64, 64, 64);
    cursor: pointer;
    max-width: 350px;
    transition: transform 0.3s ease-in-out;
 }
 .recipe:hover{
   transform: scale(1.05);

 }

 .recipe img{
    height: 300px;
    border-radius: 3px;
 }
 .recipe h3{
    font-size: 22px;
    font-weight: 800;
    margin-block: 5px 0;
    
 }
 .recipe p{
    font-size: 18px;
    color: #3f3f3f;
    margin: 0.5px 0;
    font-style: italic;
 }

.recipe span{
    font-weight: 650;
    color: rgb(178, 100, 4);
}

.recipe button{
   font-size: 20px;
   font-weight: 700;
   padding: 8px;
   border-radius: 5px;
   border: none;
   cursor: pointer;
   margin: 18px auto;
   background-color:rgb(184, 51, 51);
   color: #fff;
   width: 70%;
}
.recipe button:hover {
   background-color: rgb(119, 30, 30);
}


/* Recipe Details */
.recipe-details{
   display: none;
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   background-color: #393939;
   color: #fff;
   -webkit-transform: translate(-50%,-50%);
   border-radius: 12px;
   width: 40%;
   height: 60%;
   font-size: 18px;
   transition: all 0.5s ease-in-out;
   overflow-y: scroll;
}
.recipe-details-content{
   padding:30px;
}

.recipeName{
   text-align: center;
   text-transform: uppercase;
}
.ingredientList li{
   margin-top: 10px;
   margin-left: 20px;
}
.recipeInstructions p{
   line-height: 30px;
   white-space: pre-line;

}
.recipeName,
.ingredientList,
.recipeInstructions{
   margin-bottom: 20px;
   
}


.recipe-close-button{
   border: none;
   font-size: 15px;
   padding: 8px;
   border-radius: 5px;
   background-color: rgb(184, 51, 51);
   color: #fff;
   position: absolute;
   top: 10px;
   right: 10px;
   width: 30px;
   height: 30px;
   display: flex;
   justify-content: center;
   align-items: center;

}

.recipe-close-button:hover{
   background-color: rgb(119, 30, 30);

}

.recipe-details::-webkit-scrollbar {
   width: 10px;
}
.recipe-details::-webkit-scrollbar-thumb{
   background: #b5b5ba;
   border-radius: 16px;
   --webkit-border-radius: 16px;

}

.body::-webkit-scrollbar {
   width: 16px;
}
.body::-webkit-scrollbar-thumb{
   background: #626262;
   

}
body::-webkit-scrollbar-track{
   background: #5f5e5e;
}

 /* Responsive Code  */

 @media screen and 
 (max-width:600px){
    header nav{
    flex-direction: column ;
    }
 
    header nav form{
        width: 80%;
        margin-top: 20px ;

    }
 }





